@(compositeID: Long, composite: Burndowns.CompositeProject, 
	tasks: List[phabricator.Phabricator.Task], 
	phabUrl:String, 
	totalHours:Long,
	hasPrevious: Boolean
	) 

@main("Burn it all down") {

	@* Scripts *@
	
	<script>
		$(document).ready(function() {
			var saveSuccess = function(data, status, jqXHR) {
				$("#saveBurndown").hide();
				$("#saveBurndownMessage").text("Saved");
			};
			
			var saveFailure = function(jqXHR, status, error) {
				alert("failure: " + status + " " + error);
			}
			
			var configurationSaveFailure = function(jqXHR, status, error) {
				alert("failure: " + status + " " + jqXHR.responseJSON.message);
			}
			
			var saveBurndownOverAjax = function() {
				 jsRoutes.controllers.Burndowns.saveSnapshotViaAjax(@{compositeID}).ajax({
					 data : JSON.stringify("{}"),
					 contentType : 'application/json'
				 })
				  .done( saveSuccess )
				  .fail( saveFailure );
			};

			$("#saveConfirmed").click(function(){
				saveBurndownOverAjax();
			});
			
			var configureMode = false;
		
			var finishedConfigurationSave = function(data, status, jqXHR) {
				var icon = $("#configureCompositeIcon");
				icon.addClass("glyphicon-wrench").removeClass("glyphicon-floppy-disk");
				$("#saveBurndownRow").show();
				var editedTitle = $("#editedTitle");
				editedTitle.hide();
				var roTitle = $("#roTitle");
				roTitle.text($("#editedTitleText").val());
				roTitle.show();
				$("#commitDateRow").hide();
			};
			
		
			$("#configureComposite").click(function(){
			
				var icon = $("#configureCompositeIcon");
			
				if (configureMode) {
				
					var metadata = {};
					metadata["name"] = $("#editedTitleText").val();
					metadata["target_date"] = $("#committedDateText").val()
				
					jsRoutes.controllers.Burndowns.updateCompositeMetadataViaAjax(@{compositeID}).ajax({
						 data : JSON.stringify(metadata),
						 contentType : 'application/json'
					 })
				  	.done( finishedConfigurationSave )
				  	.fail( configurationSaveFailure );
					
					
					
				} else {
					icon.addClass("glyphicon-floppy-disk").removeClass("glyphicon-wrench");
					$("#saveBurndownRow").hide();
					$("#editedTitle").show();
					$("#roTitle").hide();
					$("#commitDateRow").show();
				}
				
				configureMode = !configureMode;
			});
		});
	</script>
	
 } {

@* Content *@

<div class="container">

	<ol class="breadcrumb">
  		<li><a href="@routes.Burndowns.index">Burndowns Home</a></li>
  		<li class="active">Current Burndown</li>
  		@if(hasPrevious) {
  		<li><a href="@routes.Burndowns.burndownData(compositeID.toString)">Previous Burndowns</a></li>
  		}
	</ol>

	<div class="row">
		<div class="col-md-11">
			<h1 id="roTitle">@{composite.compositeName}</h1>
			<div id="editedTitle"  style="display:none;" >
				<label for="editedTitleText">Composite Name:</label>
				<input id="editedTitleText" type="text" class="form-control"value="@{composite.compositeName}"></input>
			</div>
		</div>
		<div class="col-md-1">
			<button id="configureComposite" type="submit" class="btn btn-info">
				<span id="configureCompositeIcon" class="glyphicon glyphicon-wrench"></span>				
			</button>
		</div>
	</div>
	
	<div id="commitDateRow" class="row" style="display: none;">
		<div class="col-md-3">
		 	<br />
			<label for="committedDateText">Committed Date (Y-M-D):</label>
			<input id="committedDateText" type="text" class="form-control"value="@{composite.targetDateString.getOrElse("")}"></input>
		</div>
	</div>
	
	<div class="row" id="saveBurndownRow">
		<div class="col-md-2">
		 	<button id="saveBurndown" type="submit" class="btn btn-info" data-toggle="modal" data-target="#saveConfirmation">
		 		<span class="glyphicon glyphicon-floppy-disk"></span>
		 	Save Snapshot</button>
		 	<span id="saveBurndownMessage"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th>Total Hours</th>
					<th>Total Days</th>
				</tr>
				<tr>
					<td>@totalHours</td>
					<td>@{totalHours / 8}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		
	
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th></th>
					<th>Task</th>
					<th>Est. Hours</th>
					<th>Title</th>
					<th>Assignee</th>
				</tr>
				@for(task <- tasks) {
			
				<tr id="taskRow@{task.taskID}" class="@if(task.priority==90 || task.hours.isEmpty){needsTriage}">
					<td>
						<button type="button" class="btn btn-xs btn-success" id="hide@{task.taskID}">
							<span class="glyphicon glyphicon-ok-circle"></span>
						</button>
					</td>
					<td><a href="@{phabUrl + task.taskID}">@{task.taskID}</a></td>
					<td>@{task.hours.getOrElse("n/a")}</td>
					<td>@{task.title}</td>
					<td>@{task.assignee}</td>
				</tr>
				<script>
					$("#hide@{task.taskID}").click(function(){
						$("#taskRow@{task.taskID}").addClass("finishedRow");
					})
				</script>
				}
				
			</table>
		</div>
	</div>
</div>

	<div class="modal fade" id="saveConfirmation" tabindex="-1" role="dialog" aria-labelledby="saveConfirmTitle" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="saveConfirmTitle">Save Burndown?</h4>
	      </div>
	      <div class="modal-body">
	        <p>Would you like to save this burndown? There is no way to remove a burndown once saved.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary" id="saveConfirmed" data-dismiss="modal">Save burndown</button>
	      </div>
	    </div> 
	  </div> 
	</div> 
} 
