@* project_progress Template File *@
@(projectTitle: String, featureProgress:Int, timeProgress: Option[Int])

@labelledProgressRow(label: String, percent: Int, cls:String) = {
<div class="row">
	<div class="col-md-2">
		<b>@{label}</b>
	</div>
	<div class="col-md-10">
		<div class="progress">
			<div class="progress-bar @if(cls.length > 0){@cls}" role="progressbar" aria-valuenow="@{percent}" 
			aria-valuemin="0" aria-valuemax="100" style="width: @{percent}%;">
	 				@{percent}%
			</div>
		</div>
	</div>
</div>
}

@************* Actual Content *************@

<div class="row">
	<div class="col-md-12">
		<h1>@projectTitle</h1>
	</div>
</div>
@labelledProgressRow("Feature Complete", featureProgress, "")

@if(timeProgress.isDefined){	
	@labelledProgressRow("Time Spent", timeProgress.getOrElse(0), "progress-bar-warning")
}
